body {
	background: rgb(255, 255, 255);
	font-family:"Times New Roman", Times, serif;
    margin: 30px;
}
h1 {
	color: rgb(0, 0, 0);
    font-family:"Times New Roman", Times, serif;
	text-align: center;
}
.about {
    background: rgb(255, 94, 0);   
    font-family:"Times New Roman", Times, serif;
}
.skills{
    background: red;
    font-family:"Times New Roman", Times, serif;
}
.projects{
    background: red;
    font-family:"Times New Roman", Times, serif;
}
.contact{
    background: red;
    font-family:"Times New Roman", Times, serif;
}
p { 
    text-align: center;   color: red;
    font-family:"Times New Roman", Times, serif;
  }
  #para1 {
    text-align: center;   color: rgb(255, 0, 0);
    font-family:"Times New Roman", Times, serif;

  }
  .center {
    text-align: center;   color: rgb(255, 0, 0);
    font-family:"Times New Roman", Times, serif;
  }
  


  