body {
	background: rgb(255, 255, 255);
	font-family:"Times New Roman", Times, serif;
    margin: 30px;
}
h1 {
	color: rgb(0, 0, 0);
    font-family:"Times New Roman", Times, serif;
	text-align: center;
}
.about {
    background: rgb(255, 94, 0);   
    font-family:"Times New Roman", Times, serif;
}
.skills{
    background: rgb(255, 94, 0);
    font-family:"Times New Roman", Times, serif;
}
.projects{
    background: rgb(255, 94, 0);
    font-family:"Times New Roman", Times, serif;    
}
.contact{
    background: rgb(255, 94, 0);
    font-family:"Times New Roman", Times, serif;
}
p { 
    background: rgb(255, 94, 0);
    font-family:"Times New Roman", Times, serif;
  }
#para1 {
    background: rgb(255, 94, 0);
    font-family:"Times New Roman", Times, serif;

  }
.center {
    background: rgb(255, 94, 0);
    font-family:"Times New Roman", Times, serif;
  }
  


  